<html>
  <head>
    <meta charset="utf-8" />
    <meta
      Nome="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Tabela - Gerador de Recibos</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/bootstrap/css/fonte.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="../assets/fonts/fontawesome5-overrides.min.css"
    />
  </head>

  <body id="page-top">
    <div id="wrapper">
      <nav
        class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
      >
        <div class="container-fluid d-flex flex-column p-0">
          <a
            class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
            href="index.html"
          >
            <div class="sidebar-brand-icon rotate-n-15">
              <i class="fas fa-receipt"></i>
            </div>
            <div class="sidebar-brand-text mx-3"><span>Recibos</span></div>
          </a>
          <hr class="sidebar-divider my-0" />
          <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item">
              <a class="nav-link active" href="index.html"
                ><i class="fas fa-table"></i><span>Pessoas Cadastradas</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="newuser.html"
                ><i class="far fa-user-circle"></i
                ><span>Cadastrar novo usuário</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="receiptspage.html"
                ><i class="fas fa-receipt"></i
                ><span>Baixar múltiplos recibos</span></a
              >
            </li>
          </ul>
          <div class="text-center d-none d-md-inline">
            <button
              class="btn rounded-circle border-0"
              id="sidebarToggle"
              type="button"
            ></button>
          </div>
        </div>
      </nav>
      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
          <div id="content">
            <div class="container">
              <h3 id="title" class="text-dark mb-4 mt-4"></h3>
              <div class="row mb-3">
                <div class="col-lg-8 col-xl-12">
                  <div class="row">
                    <div class="col">
                      <div class="card shadow mb-3">
                        <div class="card-header py-3">
                          <p class="text-primary m-0 font-weight-bold">
                            Configurações de Cadastro
                          </p>
                        </div>
                        <div class="card-body">
                          <form>
                            <div class="form-row">
                              <div class="col">
                                <div class="form-group">
                                  <label for="username"
                                    ><strong>Nome</strong></label
                                  ><input
                                    type="text"
                                    class="form-control"
                                    id="name"
                                    placeholder="user.name"
                                    name="username"
                                  />
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label for="cpf"
                                    ><strong>CPF/CNPJ</strong></label
                                  ><input
                                    type="text"
                                    class="form-control"
                                    id="cpf"
                                    placeholder="XXX.XXX.XXX-XX"
                                    name="cpf"
                                    onkeypress="$(this).mask('000.000.000-00');"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="col">
                                <div class="form-group">
                                  <label for="value"
                                    ><strong>Valor</strong></label
                                  ><input
                                    type="value"
                                    class="form-control"
                                    id="value"
                                    placeholder="R$ 150,00"
                                    name="value"
                                    onkeypress="$(this).mask('R$ 999.990,00')"
                                  />
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label for="date"><strong>Data</strong></label
                                  ><input
                                    type="number"
                                    class="form-control"
                                    id="day"
                                    placeholder="22"
                                    name="date"
                                    min="1"
                                    max="31"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="col">
                                <div class="form-group">
                                  <label for="emissor"
                                    ><strong>Emissor</strong></label
                                  ><input
                                    type="text"
                                    class="form-control"
                                    id="emitter"
                                    placeholder="Felipe"
                                    name="emissor"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <button
                                id="update-person-info"
                                class="btn btn-primary btn-sm"
                                type="submit"
                              >
                                Salvar Alterações
                              </button>
                              <button
                                
                                class="btn btn-danger btn-sm"
                                type="button"
                                data-toggle="modal"
                                data-target="#modal"
                              >
                                Deletar Pessoa
                              </button>
                              <!-- Modal -->
                              <div
                                class="modal fade"
                                id="modal"
                                tabindex="-1"
                                role="dialog"
                                aria-labelledby="delete-confirmation"
                                aria-hidden="true"
                              >
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5
                                        class="modal-title"
                                        id="delete-confirmation"
                                      >
                                        Atenção
                                      </h5>
                                      <button
                                        type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close"
                                      >
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      Tem certeza que quer deletar essa pessoa?
                                    </div>
                                    <div class="modal-footer">
                                      <button
                                        type="button"
                                        class="btn btn-secondary"
                                        data-dismiss="modal"
                                      >
                                        Cancelar
                                      </button>
                                      <button
                                      id="remove-person"
                                        type="submit"
                                        class="btn btn-success"
                                      >
                                        Confirmar
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                      <div class="card shadow">
                        <div class="card-header py-3">
                          <p class="text-primary m-0 font-weight-bold">
                            Referente à
                          </p>
                        </div>
                        <div class="card-body">
                          <form>
                            <div class="form-group">
                              <label for="reference"
                                ><strong
                                  >Ao que se refere o pagamento</strong
                                ></label
                              ><input
                                type="text"
                                class="form-control"
                                id="subject"
                                placeholder="Aluguel"
                                name="reference"
                              />
                            </div>
                            <div class="form-row">
                              <div class="col">
                                <div class="form-group">
                                  <label for="address"
                                    ><strong>Endereço</strong></label
                                  ><input
                                    type="text"
                                    class="form-control"
                                    id="address"
                                    placeholder="Los Angeles, rua 9"
                                    name="address"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <button
                                id="update-subject-info"
                                class="btn btn-primary btn-sm"
                                type="submit"
                              >
                                Salvar Alterações
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="bg-white sticky-footer">
          <div class="container my-auto">
            <div class="text-center my-auto copyright">
              <span>Copyright © Artica Dev - 2021</span>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <script>
      if (typeof module === "object") {
        window.module = module;
        module = undefined;
      }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="../assets/js/script.min.js"></script>
    <script src="../assets/js/jquery.mask.min.js"></script>
    <script src="../render/profile.js"></script>

    <script>
      if (window.module) module = window.module;
    </script>
  </body>
</html>
