<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
 
    <title>Recibo</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/bootstrap/css/fonte.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../assets/fonts/fontawesome5-overrides.min.css" />
    <style>
      .text-black {
        color: black !important;
      
      }
      @media print {
      .a4{
        page-break-after:always;
       }
        #buttons {
          display :  none;
        }
      }

    </style>
  </head>
  <body>

    <div id="buttons" class="container mt-5 mb-5">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <a
            class="btn btn-primary btn-sm d-none d-sm-inline-block mr-4"
            role="button"
            href="index.html"
            ><i class="fas fa-arrow-left fa-sm text-white-50"></i> Voltar
          </a>
          <a
            class="btn btn-primary btn-sm d-none d-sm-inline-block"
            role="button"
            onclick="window.print()"
            ><i class="fas fa-print fa-sm text-white-50"></i> Imprimir Recibo</a
          >
        </div>
      </div>
    </div>

  <div class="a4">

    <div  class="container mt-4 border border-secondary receipt">
      <div class="row">
        <div class="col">
          <h3 class="text-black text-center mt-4">
            <strong>Recibo de pagamento</strong>
          </h3>
        </div>
      </div>
      <div class="row mb-4">

        <div class="col d-flex justify-content-end">
          <h5 class="text-black border border-secondary p-1">
            <strong class="value"></strong>
          </h5>
        </div>
      </div>
      <div class="row mb-4"></div>
      <div class="col">
        <p class="text-black">
          Recebi(emos) de <strong class="name" ></strong>- CPF/CNPJ nº
          <strong class="cpf"></strong> , o valor de
          <strong class="written-value"></strong> referente à
          <strong class="subject-address"></strong>. <br />
          Para maior clareza firmo(amos) o presente recibo para que produza os
          seus efeitos, dando plena, rasa e irrevogável quitação, pelo valor
          recebido.
        </p>
      </div>
      <div class="row mb-4 mt-5">
        <div class="col d-flex justify-content-end">
          <p class="text-black">
            <strong><span class="day"></span><span class="month-year"></span></strong>
          </p>
        </div>
      </div>
      <div class="row mb-4 mt-5">
        <div class="col">
          <hr
            class="w-50 text-center text-black"
            style="border-top: 1px solid rgba(0, 0, 0, 0.3)"
          />
          <p class="text-black text-center"><strong class="emitter"></strong></p>
        </div>
      </div>
    </div>
 
  </div>  
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../render/receipt.js"></script>

  <script>if (window.module) module = window.module;</script>  
  </body>
</html>
